<header>
	<a ui-sref="root.default.initial" title="Meu site">
		Meu Site
	</a>

	<button type="button" class="btn logout" title="Fazer Logout" ng-click="logout();"><i class="fas fa-sign-out-alt"></i></button>
</header>

<main class="container-fluid">
	<ui-view class="row" name="default"></ui-view>
</main>
