<div class="auth-form">
	<h2>Login</h2>
	<form class="login-form" ng-submit="login(usuario);">
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" id="email" type="text" ng-model="usuario.email">
		</div>
		<div class="form-group">
			<label for="senha">Senha</label>
			<input class="form-control" id="senha" type="password" ng-model="usuario.senha">
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-active login">Login</button>
			<a ui-sref="root.authentication.new-user" class="btn btn-link mt-2">Não tem cadastro? Clique aqui.</button>
		</div>
	</form>
</div>