<div class="auth-form">
	<h2>Cadastrar</h2>
	<form ng-submit="saveItem(newUser);">
		<div class="form-group">
			<label for="nomecompleto">Nome completo</label>
			<input class="form-control" id="nomecompleto" type="text" ng-model="newUser.nome">
		</div>
		<div class="form-group">
			<label for="cpf">CPF</label>
			<input class="form-control" id="cpf" type="text" ng-model="newUser.cpf">
		</div>
		<div class="form-group">
			<label for="telefone">Telefone</label>
			<input class="form-control" id="telefone" type="text" ng-model="newUser.telefone">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" id="email" type="text" ng-model="newUser.email">
		</div>
		<div class="form-group">
			<label for="senha">Senha</label>
			<input class="form-control" id="senha" type="password" ng-model="newUser.senha">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-active px-5">Cadastrar</button>
			<a ui-sref="root.authentication.login" class="btn text-right float-right">Login <i class="fas fa-long-arrow-alt-right"></i></button>
		</div>
	</form>
</div>

<!-- <div class="auth-form">
		<h2>Login</h2>
		<form class="login-form" ng-submit="login(usuario);">
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" id="email" type="text" ng-model="usuario.email">
			</div>
			<div class="form-group">
				<label for="senha">Senha</label>
				<input class="form-control" id="senha" type="password" usuario.senha>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-active login">Login</button>
				<a ui-sref="root.authentication.new-user" class="btn btn-link mt-2">Não tem cadastro? Clique aqui.</button>
			</div>
		</form>
	</div> -->