<section class="col-12">
	<div class="p-3 text-right">
		<button type="button" class="btn btn-active" data-toggle="modal" data-target="#newUser">Cadastrar</button>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">E-mail</th>
					<th scope="col">Telefone</th>
					<th scope="col">CPF</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tr ng-repeat="user in users">
				<td>
					{{user.nome}}
				</td>
				<td>
					{{user.email}}
				</td>
				<td>
					{{user.telefone}}
				</td>
				<td>
					{{user.cpf}}
				</td>
				<td class="actions">
					<div class="buttons">
						<button type="button" class="btn btn-danger" ng-click="deleteUser(user.id);"><i class="fas fa-trash"></i></button>
						<button type="button" class="btn btn-secondary" ng-click="edit(user);">Editar</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</section>

<div class="modal" id="newUser" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cadastrar Usuário</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="nomeCompleto">Nome Completo</label>
							<input type="text" class="form-control" id="nomeCompleto" ng-model="newUser.nome">
						</div>
						<div class="form-group">
							<label for="cpf">CPF</label>
							<input type="text" class="form-control" id="cpf" ng-model="newUser.cpf">
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email" ng-model="newUser.email">
						</div>
						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input type="text" class="form-control" id="telefone" ng-model="newUser.telefone">
						</div>
						<div class="form-group">
							<label for="senha">Senha</label>
							<input type="text" class="form-control" id="senha" ng-model="newUser.senha">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="saveItem();">Salvar</button>
				</div>
			</div>
		</div>
	</div>

<div class="modal" id="editUser" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Usuário</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="nomeCompleto">Nome Completo</label>
						<input type="text" class="form-control" id="nomeCompleto" ng-model="editUser.nome">
					</div>
					<div class="form-group">
						<label for="cpf">CPF</label>
						<input type="text" class="form-control" id="cpf" ng-model="editUser.cpf">
					</div>
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="text" class="form-control" id="email" ng-model="editUser.email">
					</div>
					<div class="form-group">
						<label for="telefone">Telefone</label>
						<input type="text" class="form-control" id="telefone" ng-model="editUser.telefone">
					</div>
					<div class="form-group">
						<label for="senha">Senha</label>
						<input type="text" class="form-control" id="senha" ng-model="editUser.senha">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="sendEditForm(editUser);">Salvar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="deleteUser" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deletar Usuário</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Você deseja deletar esse usuário?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
				<button type="button" class="btn btn-danger delete">Sim</button>
			</div>
		</div>
	</div>
</div>