@import "~bootstrap/dist/css/bootstrap";

header {
    background: #40c8f4;
    color: #FFF;

    a {
        color: #FFF;
        font-size: 30px;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 15px;
        display: inline-block;

        &:hover {
            color: #FFF;
            text-decoration: none;
        }
    }

    .logout {
        float: right;
        color: #FFF;
        padding: 18px 15px;
        font-size: 25px;

        &:hover {
            color: #FFF;
        }
    }
}

.container-fluid {
    max-width: 1024px;
}

.table td, .table th {
    vertical-align: middle;

}
.table td.actions {
    text-align: right;
    width: 170px;

    .buttons {
        width: 170px;
    }
}

.auth-image {
    background: url(./application/assets/images/bg.jpg);
    width: 70%;
    height: 100vh;
    background-size: auto 100%;
    background-position: 80% top;
    float: left;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#2179b5, #40c8f4);
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.auth-form {
    width: 30%;
    float: right;
    padding: 40px 30px;

    form {
        margin-top: 60px;
    }

    label {
        color: #999999;
        font-weight: 700;
        margin: 0;
    }

    input {
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        border-color: #dbdbdb;
        color: #efeeed;

        &:focus {
            box-shadow: none;
            color: #555555;
            border-color: #dbdbdb;
        }
    }
}

.btn-active {
    border-radius: 25px;
    background: #40c8f4;
    color: #FFF;

    &:hover {
        opacity: .7;
        color: #FFF;
    }

    &.login {
        width: 100%;
    }
}

[data-notify] {
    z-index: 999999 !important;
}

@media only screen and (max-width : 1280px) {
    .auth-image {
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .auth-form {
        position: absolute;
        background: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 50px;
        width: 40%
    }
}

@media only screen and (max-width : 980px) {
    .auth-form {
        width: 60%;
    }
}

@media only screen and (max-width : 540px) {
    .auth-form {
        width: 90%;
    }
}